<html>
<center>
<h1> This computer's name is {{ ansible_hostname }}</h1>
<h3> It is running {{ ansible_os_family }} family of operating systems </h3>
<small> This file is version {{ file_version }} </small>
{# This will not end up in the final index page #}
</center>
</html>

